<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
            <mimeMap fileExtension=".glb" mimeType="model/gltf.binary" />
            <mimeMap fileExtension=".dds" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
